In [11]:
import pandas as pd
import numpy as np #mathematical library

In [12]:
df = pd.read_csv('/kaggle/input/supershop/supershops.csv')

In [4]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [13]:
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()
df5 = df.copy()
df6 = df.copy()
df7 = df.copy()

1. Normalization
2. Standardization
3. Log Transformation
4. Robust Scaler
5. Max Absolute Scaler

# Normalization

In [24]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html

In [25]:
from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler() #default feature_range=(0,1)

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [26]:
df_ms = m.fit(df[['Marketing Spend']]) # calculation everything

In [27]:
df_ms

MinMaxScaler()

In [28]:
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.651744   1.000000    Dhaka  1.000000
1         0.983359        0.761972   0.940893      Ctg  0.997355
2         0.927985        0.379579   0.864664  Rangpur  0.993178
3         0.873136        0.512998   0.812235    Dhaka  0.947292
4         0.859438        0.305328   0.776136  Rangpur  0.853171

In [10]:
df[['Marketing_Spend_New']] = m.transform(df[['Marketing Spend']])

In [11]:
df.head()

,Marketing Spend,Administration,Transport,Area,Profit,Marketing_Spend_New
0,114523.61,136897.80,471784.10,Dhaka,192261.83,0.692617
1,162597.70,151377.59,443898.53,Ctg,191792.06,0.983359
2,153441.51,101145.55,407934.54,Rangpur,191050.39,0.927985
3,144372.41,118671.85,383199.62,Dhaka,182901.99,0.873136
4,142107.34,91391.77,366168.42,Rangpur,166187.94,0.859438

In [12]:
df[['Administration']] = m.fit_transform(df[['Administration']])
df.head()

,Marketing Spend,Administration,Transport,Area,Profit,Marketing_Spend_New
0,114523.61,0.651744,471784.10,Dhaka,192261.83,0.692617
1,162597.70,0.761972,443898.53,Ctg,191792.06,0.983359
2,153441.51,0.379579,407934.54,Rangpur,191050.39,0.927985
3,144372.41,0.512998,383199.62,Dhaka,182901.99,0.873136
4,142107.34,0.305328,366168.42,Rangpur,166187.94,0.859438

# Perform Normalization using loop

In [ ]:
df2=df2.drop('Profit',axis=1)

In [52]:
for i in df2.columns:
    if df2[i].dtype != 'object':
        minX=df2[i].min()
        maxX=df2[i].max()
        df2[i]=(df[i]-minX)/(maxX-minX)

In [53]:
df2.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.651744   1.000000    Dhaka
1         0.983359        0.761972   0.940893      Ctg
2         0.927985        0.379579   0.864664  Rangpur
3         0.873136        0.512998   0.812235    Dhaka
4         0.859438        0.305328   0.776136  Rangpur

# Standardization

In [5]:
df3=df3.drop('Profit',axis=1)

In [6]:
df3.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [15]:
import math
def sd(column):
    tsum = 0
    mean = column.mean()
    column=column.fillna(mean)
    n = len(column.dropna())

    for i in column:
        tsum += (i-mean)**2

    std_cal= math.sqrt(tsum/(n-1))
    return std_cal,mean

In [8]:
df3.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [16]:
for i in df3.columns:
    if df3[i].dtype != 'object':
        std,mean=sd(df3[i])
        df3[i]=(df3[i]-mean)/std

In [17]:
df3.head()

   Marketing Spend  Administration  Transport     Area
0         0.888889        0.555117   2.165287    Dhaka
1         1.936203        1.071924   1.929843      Ctg
2         1.736731       -0.720938   1.626191  Rangpur
3         1.539157       -0.095396   1.417348    Dhaka
4         1.489812       -1.069066   1.273550  Rangpur

# Log Transformation

In [13]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.FunctionTransformer.html

In [14]:
from sklearn.preprocessing import FunctionTransformer
ft = FunctionTransformer(np.log1p) #np.log1p will avoid 0

In [34]:
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [16]:
df2['Transport'] = ft.fit_transform(df2[['Transport']])

In [17]:
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  13.064279    Dhaka  192261.83
1        162597.70       151377.59  13.003354      Ctg  191792.06
2        153441.51       101145.55  12.918864  Rangpur  191050.39
3        144372.41       118671.85  12.856314    Dhaka  182901.99
4        142107.34        91391.77  12.810851  Rangpur  166187.94

# Perform Log using loop

In [17]:

for col in df4.columns:
    if df4[col].dtype != 'object' and df4[col].name !='Profit':
        df4[col]=df4[col].fillna(df4[col].mean())
        positive=df4[col]>0
        df4.loc[positive, col] = np.log(df4.loc[positive_values, col])

In [18]:
df4

    Marketing Spend  Administration  Transport     Area     Profit
0         11.648536       11.826990  13.064277    Dhaka  192261.83
1         11.999034       11.927533  13.003351      Ctg  191792.06
2         11.941075       11.524316  12.918862  Rangpur  191050.39
3         11.880151       11.684117  12.856311    Dhaka  182901.99
4         11.864338       11.422911  12.810849  Rangpur  166187.94
5         11.789624       11.511071  12.801776    Dhaka  156991.12
6         11.810178       11.899540  11.757571      Ctg  156122.51
7         11.777580       11.888138  12.688118  Rangpur  155752.60
8         11.699758       11.909814  12.649518    Dhaka  152211.77
9         11.722659       11.596155  12.628007      Ctg  149759.96
10        11.531876       11.613622  12.342180  Rangpur  146121.95
11        11.519623       11.427265  12.428194      Ctg  144259.40
12        11.449600       11.754462  12.428574  Rangpur  141585.52
13        11.429461       11.816691  12.439820      Ctg  134307.35
14        11.694774       11.961114  12.454934  Rangpur  132602.65
15        12.015815       11.716820  12.475245    Dhaka  129917.04
16        11.264632       11.708472  12.485014      Ctg  126992.93
17        11.458017       11.885024  12.551697    Dhaka  125370.37
18        11.426814       11.645495  12.594458  Rangpur  124266.90
19        11.366971       11.941548  12.279935    Dhaka  122776.86
20        11.241823       11.642789  12.607076      Ctg  118474.03
21        11.269445       11.943236  12.610662    Dhaka  111313.02
22        11.211747       11.718172  12.622541  Rangpur  110352.25
23        11.120365       11.568843  12.627309  Rangpur  108733.99
24        11.252132       11.505713  11.853495    Dhaka  108552.04
25        11.076971       11.846201  11.834738      Ctg  107404.34
26        11.229619       11.878512  11.805969  Rangpur  105733.54
27        11.185915       11.758727  12.774744    Dhaka  105008.31
28        11.098190       12.115303  11.679695  Rangpur  103282.38
29        11.091415       11.938403  11.581877    Dhaka  101004.64
30        11.034801       11.658248  11.420056  Rangpur   99937.59
31        11.020862       11.936243  11.387569    Dhaka   97483.56
32        11.057359       11.769269  10.738248      Ctg   97427.84
33        10.924029       11.543042  12.276693  Rangpur   96778.92
34        10.745616       11.968411  12.258654      Ctg   96712.80
35        10.736701       11.350964  12.233287    Dhaka   96479.51
36        10.263389       11.752385  12.211691  Rangpur   90708.19
37        10.693533       10.845117  12.191108      Ctg   89949.14
38         9.914902       11.096621  12.129543    Dhaka   81229.06
39        10.559932       11.326380  12.072537      Ctg   81005.76
40        10.266544       11.683057  12.059865      Ctg   78239.91
41        10.236128       11.346998  12.010488  Rangpur   77798.83
42        10.070735       11.474077  11.904975      Ctg   71498.49
43         9.648965       11.754948  10.478250    Dhaka   69758.98
44        10.006844       11.949929  10.251843      Ctg   65200.33
45         6.907985       11.729270   7.551675    Dhaka   64926.08
46         7.181942       11.659760  12.601873  Rangpur   49490.75
47         0.000000       11.816187   0.000000      Ctg   42559.73
48         6.295358       10.854047   0.000000    Dhaka   35673.41
49         0.000000       11.669791  10.718256      Ctg   14681.40

# Robust Scaler

In [5]:
df5=df5.drop('Profit',axis=1)

In [6]:
df5.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [8]:
def IQR(column):
    data=column
    data=sorted(data)
    n= len(data)
    index75 = int(0.75*(n-1))
    index25 = int(0.25*(n-1))
    
    x75 = data[index75]
    x25 = data[index25]
    
    return x75,x25

In [14]:
for column in df5.columns:
    if df5[column].dtype != 'object':
        x75,x25 = IQR(df5[column])
        #print('x75: ',x75,'x25: ',x25)
        df5[column] = (df5[column]-df5[column].median())/(x75-x25)

In [16]:
df5.head()

   Marketing Spend  Administration  Transport     Area
0         0.667690        0.345631   1.552016    Dhaka
1         1.441662        0.698122   1.383714      Ctg
2         1.294252       -0.524709   1.166654  Rangpur
3         1.148243       -0.098055   1.017368    Dhaka
4         1.111776       -0.762151   0.914576  Rangpur

# Max Absolute Scaler

In [ ]:
df6=df6.drop('Profit',axis=1)

In [6]:
df6.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [7]:
for column in df6.columns:
    if df6[column].dtype != 'object':
        df6[column]=df6[column]/df6[column].max()

In [8]:
df6.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.749527   1.000000    Dhaka
1         0.983359        0.828805   0.940893      Ctg
2         0.927985        0.553781   0.864664  Rangpur
3         0.873136        0.649738   0.812235    Dhaka
4         0.859438        0.500378   0.776136  Rangpur